.header {
  text-align: center;
  height: 40vh;

  @include respond(laptop) {
    height: 50vh;
  }

  background-image: linear-gradient(
      to right bottom,
      rgba($color-cupcake-grey, 0.7),
      rgba($color-cupcake-beige, 0.7)
    ),
    url(../img/05_cupcake.jpg);
  background-size: cover;
  background-position: center;
  @include bs;

  @include respond(tablet) {
    border-radius: 6px;
  }

  &__img {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 100px;
    top: 3rem;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;

    @include respond(tablet) {
      width: 200px;
    }
  }

  &__head {
    font-weight: $font-weight-medium;

    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.493);
    font-size: $font-size-h1-small;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10rem;
    text-align: center;

    letter-spacing: 1rem;
    color: $color-cupcake-darkLilac;
  }
}

.about {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-cupcake-grey, 0.7),
      rgba($color-cupcake-beige, 0.7)
    ),
    url(../img/04_background.jpg);
}

.products {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-cupcake-grey, 0.7),
      rgba($color-cupcake-beige, 0.7)
    ),
    url(../img/02_background.jpg);
}

.contact {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-cupcake-grey, 0.7),
      rgba($color-cupcake-beige, 0.7)
    ),
    url(../img/03_background.jpg);
}
