.subscribe {
  @include respond(tablet) {
    font-family: $font-face-primary !important ;
    font-size: $font-size-p-regular !important;
    max-width: 500px;
    margin: 0 auto;
  }

  &__action {
    position: relative;
    display: block;
    margin-top: 5rem;

    &__button {
      margin-top: 1rem;
      margin-bottom: 2rem;
      padding: 1rem;
      width: 150px;
      text-align: center;
      background-color: $color-cupcake-mediumPink;
      color: $color-black;
      padding: 12px 20px;
      border: none !important;
      border-radius: 4px;
      cursor: pointer;
      -webkit-appearance: none;
      @include bs-light;

      @include respond(laptop) {
        font-size: $font-size-p-regular;
      }

      &:hover {
        background-color: $color-cupcake-darkPink;
        transform: scale(1.1);
      }

      &--back {
        float: right;
        margin-right: 26.285px;
      }
    }
  }
}
