.subscribe {
  @include respond(tablet) {
    max-width: 500px;
    margin: 0 auto;
  }

  &__action {
    position: relative;
    display: block;
    margin-top: 5rem;

    &__button {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
      width: 150px;
      text-align: center;
      background-color: $color-cupcake-lightPink;
      color: $color-black;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $color-cupcake-mediumPink;
        transform: scale(1.1);
      }

      &--back {
        float: right;
        margin-right: 26.285px;
      }
    }
  }
}
