.linkButton {
  display: inline-block !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 150px !important;
  text-align: center !important;
  background-color: $color-cupcake-mediumPink !important;
  color: $color-black !important;
  padding: 12px 20px !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  font-size: $font-size-p-regular !important;
  @include bs-light;

  &:hover {
    background-color: $color-cupcake-darkPink !important;
    transform: scale(1.1) !important;
  }
}
